.container {
  width: 350px;
  height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 40px;
  box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(50, 66, 87, 0.473);
  padding: 20px;
}
