.TodoItem {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 10px;
  border: solid 1px #ccc;
  border-radius: 5px;
  padding: 10px;
}

.text {
  font-size: 18px;
  color: #495057;
}

.btn-move {
  width: 4rem;
  height: 2rem;
  font-size: 5px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
}

.btn-remove {
  width: 4rem;
  height: 2rem;
  font-size: 5px;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  margin-left: 5px;
}
