.form-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}

#todo-title {
  font-family: "Comic Sans MS";
  font-size: 15px;
  padding: 10px;
  /*margin-left: 15%;
  margin-top: 15%;
  width: 18rem;
  height: 2.8rem;
  font-size: 18px;*/
}

#todo-text {
  padding: 10px;
  margin-top: 10px;
  font-size: 13px;
}
.form__buttons {
  display: grid;
  grid-template-columns: 7fr 1fr;
  font-size: 1.2rem;
  grid-gap: 20px;
}

.btn-save {
  margin-top: 3%;
  display: flex;
  justify-content: center;
  width: 100%;
  border: none;
  border-radius: 10px;
  padding: 20px 0 20px 0;
  background-color: #cff0cc;
  font-size: 17px;
  font-weight: bold;
}

.btn-cancel {
  margin-top: 20%;
  border: none;
  border-radius: 10px;
  font-weight: bold;
}
textarea {
  resize: none;
  font-family: "Comic Sans MS";
}
