.todoList-container {
}

.counts {
  margin: 20px 0 20px 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  color: #4682b4;
  font-size: 18px;
  font-weight: bold;
}

.Todos {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: top;
  column-gap: 30px;
}

.inProgressTodos,
.doneTodos {
  border-top: 2px solid #e9ecef;
  transition: all 100ms ease 0s;
}
