.TemplateBlock {
    width: 512px;
    height: 768px;
    position: relative;
    background: white;
    border-radius: 40px;
    box-shadow: inset -6px -6px 15px rgba(145, 160, 180, 0.45),
    30px 30px 40px rgba(50, 66, 87, 0.473);
    margin: 0 auto;
    margin-top: 96px;
    margin-bottom: 32px;
    display: flex;
    flex-direction: column;
}